extends layout

block content

  h1 ID: #{order._id}
  
  p #[strong User:] 
    a(href=order.user.url) #{order.user.firstName}
  p #[strong Price:] #{order.price}

  p #[strong Order:] 
    span.text-success #{order.price}
